/* TODO FILL THIS*/


body {
	font-family: 'Ubuntu Mono', monospace; 
}

p {
	text-align: center;
	font-size: 40px;
}


img {
	margin-left: auto;
    margin-right: auto;
}

h1 {
	text-align: center;
	font-size: 100px;
}

button {
	margin-left: auto;
    margin-right: auto;
    font-size: 60px;
}

#testText{
	margin-left: 10%;
	text-align: left;
}

#answer{
	margin-right: 10%;
	text-align: right;
}

div {
	font-size: 30px;
	margin-left: 20%;
	margin-right: 20%;
}